ruby:
  navigation_icons = [
    {
      "name": "Home",
      "class": "home"
    },
    {
      "name": "Categories",
      "class": "categories"
    },
    {
      "name": "Bag Black",
      "class": "bag-black"
    },
    {
      "name": "Bag Red",
      "class": "bag-red"
    },
    {
      "name": "Bag White",
      "class": "bag-white",
      "background": "background"
    },
    {
      "name": "My Account",
      "class": "account"
    },
    {
      "name": "Settings",
      "class": "settings"
    },
    {
      "name": "Beauty Pass",
      "class": "beautypass"
    },
    {
      "name": "Sale",
      "class": "sale"
    },
    {
      "name": "Brands",
      "class": "brands"
    },
    {
      "name": "Logout",
      "class": "logout"
    },
    {
      "name": "Help",
      "class": "help"
    },
    {
      "name": "Menu",
      "class": "menu"
    },
    {
      "name": "Store Black",
      "class": "store-black"
    },
    {
      "name": "Store White",
      "class": "store-white",
      "background": "background"
    },
    {
      "name": "Filter",
      "class": "filter"
    }
  ]
  orders_and_shipping = [
    {
      "name": "Payment Pending",
      "class": "payment-pending"
    },
    {
      "name": "Payment Failed",
      "class": "payment-failed"
    },
    {
      "name": "Payment Expired",
      "class": "payment-expired"
    },
    {
      "name": "Payment Cancelled",
      "class": "payment-cancelled"
    },
    {
      "name": "Payment Paid",
      "class": "payment-paid"
    },
    {
      "name": "Delivered",
      "class": "delivered"
    },
    {
      "name": "Delivery",
      "class": "delivery"
    },
    {
      "name": "Shipped",
      "class": "shipped"
    },
    {
      "name": "Home",
      "class": "home"
    },
    {
      "name": "PopStation Location",
      "class": "pop-location"
    },
    {
      "name": "PopStation Payment",
      "class": "pop-payment"
    },
    {
      "name": "PopStation Parcel",
      "class": "pop-parcel"
    },
    {
      "name": "PopStation Barcode",
      "class": "pop-scan-barcode"
    },
    {
      "name": "PopStation SMS",
      "class": "pop-sms"
    },
    {
      "name": "Awaiting Collection",
      "class": "awaiting-collection"
    },
    {
      "name": "Completed",
      "class": "completed"
    },
    {
      "name": "Customs On Hold",
      "class": "customs-on-hold"
    },
    {
      "name": "Delivery Attempted",
      "class": "delivery-attempted"
    },
    {
      "name": "Delivery Failed",
      "class": "delivery-failed"
    },
    {
      "name": "In Transit",
      "class": "in-transit"
    },
    {
      "name": "Invalidated",
      "class": "invalidated"
    },
    {
      "name": "Order Placed",
      "class": "order-placed"
    },
    {
      "name": "Packing Order",
      "class": "packing-order"
    },
    {
      "name": "Return Requested",
      "class": "return-requested"
    },
    {
      "name": "With Driver",
      "class": "with-driver"
    },
  ]
  my_account = [
    {
      "name": "Orders",
      "class": "orders"
    },
    {
      "name": "Point History",
      "class": "point-history"
    },
    {
      "name": "Beauty Profile",
      "class": "beauty-profile"
    },
    {
      "name": "Waitlist",
      "class": "waitlist"
    },
    {
      "name": "Back In Stock",
      "class": "stock"
    },
    {
      "name": "Product Reviews",
      "class": "reviews"
    },
    {
      "name": "Product Reviews Alt",
      "class": "reviews-red"
    },
    {
      "name": "Wishlist",
      "class": "heart-empty"
    },
    {
      "name": "Wishlisted",
      "class": "heart-fill"
    },
    {
      "name": "Purchases",
      "class": "purchase"
    },
    {
      "name": "No Purchase",
      "class": "purchase-zero"
    },
    {
      "name": "Review Approved",
      "class": "review-approved"
    },
    {
      "name": "Review Unapproved",
      "class": "review-unapproved"
    },
    {
      "name": "Review Rejected",
      "class": "review-rejected"
    }
  ]
  beauty_pass = [
    {
      "name": "White Card",
      "class": "white-card",
      "background": "background"
    },
    {
      "name": "Black Card",
      "class": "black-card"
    },
    {
      "name": "Gold Card",
      "class": "gold-card"
    },
    {
      "name": "Black Tier",
      "class": "black-tier"
    },
    {
      "name": "Gold Tier",
      "class": "gold-tier"
    },    
    {
      "name": "Birthday Gift",
      "class": "birthday-gift"
    },
    {
      "name": "Welcome Bonus",
      "class": "welcome-gift"
    },
    {
      "name": "Benefits",
      "class": "benefits"
    },
    {
      "name": "Member Points",
      "class": "member-points"
    },
    {
      "name": "Boutique Rewards",
      "class": "rewards-boutique"
    }
  ]
  function = [
    {
      "name": "Left Arrow",
      "class": "chevron-left"
    },
    {
      "name": "Right Arrow",
      "class": "chevron-right"
    },
    {
      "name": "Up Arrow",
      "class": "chevron-up"
    },
    {
      "name": "Down Arrow",
      "class": "chevron-down"
    },
    {
      "name": "Dropdown Arrow",
      "class": "arrow-dropdown"
    },
    {
      "name": "Approval",
      "class": "certified"
    },
    {
      "name": "Close",
      "class": "close2"
    },
    {
      "name": "Delete",
      "class": "delete"
    },
    {
      "name": "Edit",
      "class": "edit-icon"
    },
    {
      "name": "Video Play Black",
      "class": "video-play-black"
    },
    {
      "name": "Video Play White",
      "class": "video-play-white",
      "background": "background"
    },
    {
      "name": "Search Black",
      "class": "search-black"
    },
    {
      "name": "Search White",
      "class": "search-white",
    },
    {
      "name": "Scan",
      "class": "scan"
    },
    {
      "name": "Wishlist Circle Black",
      "class": "heart-empty-bg"
    },
    {
      "name": "Wishlist Circle Red",
      "class": "heart-empty-red-bg"
    },
    {
      "name": "Wishlisted Circle",
      "class": "heart-fill-bg"
    }
  ]
  social_media = [
    {
      "name": "Instagram",
      "class": "instagram"
    },
    {
      "name": "Snapchat",
      "class": "snapchat"
    },
    {
      "name": "Youtube",
      "class": "youtube"
    },
    {
      "name": "Twitter",
      "class": "twitter"
    },
    {
      "name": "Google",
      "class": "google"
    },
    {
      "name": "Facebook",
      "class": "facebook"
    },
    {
      "name": "Email",
      "class": "email"
    },
    {
      "name": "Pinterest",
      "class": "pinterest"
    }
  ]
  others = [
    {
      "name": "Lipstick Rated",
      "class": "lipstick-filled"
    },
    {
      "name": "Lipstick Unrated",
      "class": "lipstick-empty"
    },
    {
      "name": "Print",
      "class": "print"
    },
    {
      "name": "Save as PDF",
      "class": "pdf"
    },
    {
      "name": "Samples",
      "class": "makeup-2"
    },
    {
      "name": "No Filter Found",
      "class": "makeup-1"
    },
    {
      "name": "Triangle",
      "class": "triangle"
    },
    {
      "name": "Triangle Black",
      "class": "triangle-black"
    },
    {
      "name": "Size",
      "class": "size"
    },
    {
      "name": "Show",
      "class": "show-icon"
    },
    {
      "name": "Shade",
      "class": "shade"
    },
    {
      "name": "Triangle Black",
      "class": "triangle-black"
    },
    {
      "name": "Processing",
      "class": "processing"
    },
    {
      "name": "Field Error",
      "class": "field-error"
    },
    {
      "name": "Field Success",
      "class": "field-succeed"
    },
    {
      "name": "Radio Disabled Selected",
      "class": "radio-disabled-selected"
    },
    {
      "name": "Radio Disabled Unselected",
      "class": "radio-disabled-unselected"
    },
    {
      "name": "Radio Selected",
      "class": "radio-selected"
    },
    {
      "name": "Radio Unselected",
      "class": "radio-unselected"
    },
    {
      "name": "Selected Option",
      "class": "selected-option-icon"
    },
    {
      "name": "Giftcard",
      "class": "giftcard"
    },
    {
      "name": "Location",
      "class": "location"
    }
  ]
  flags = [
    {
      "name": "Hong Kong flag",
      "class": "hk",
      "size": "icon_30x20"
    },
    {
      "name": "Singapore flag",
      "class": "sg",
      "size": "icon_30x20"
    },
    {
      "name": "Philippines flag",
      "class": "ph",
      "size": "icon_30x20"
    },
    {
      "name": "Malaysia flag",
      "class": "my",
      "size": "icon_30x20"
    },
    {
      "name": "Australia flag",
      "class": "au",
      "size": "icon_30x20"
    },
    {
      "name": "New Zealand flag",
      "class": "nz",
      "size": "icon_30x20"
    },
    {
      "name": "Thailand flag",
      "class": "th",
      "size": "icon_30x20"
    },
    {
      "name": "Indonesia flag",
      "class": "id",
      "size": "icon_30x20"
    }
  ]
  countries = [
    {
      "name": "Australia",
      "class": "australia"
    },
    {
      "name": "Bahrain",
      "class": "bahrain"
    },
    {
      "name": "Brazil",
      "class": "brazil"
    },
    {
      "name": "Canada",
      "class": "canada"
    },
    {
      "name": "China",
      "class": "china"
    },
    {
      "name": "Czech Republic",
      "class": "czech-republic"
    },
    {
      "name": "Denmark",
      "class": "denmark"
    },
    {
      "name": "France",
      "class": "france"
    },
    {
      "name": "Germany",
      "class": "germany"
    },
    {
      "name": "Greece",
      "class": "greece"
    },
    {
      "name": "Hong Kong SAR",
      "class": "hong-kong"
    },
    {
      "name": "Indonesia",
      "class": "indonesia"
    },
    {
      "name": "Italy",
      "class": "italy"
    },
    {
      "name": "Kuwait",
      "class": "kuwait"
    },
    {
      "name": "Luxembourg",
      "class": "luxembourg"
    },
    {
      "name": "Malaysia",
      "class": "malaysia"
    },
    {
      "name": "Mexico",
      "class": "mexico"
    },
    {
      "name": "Monaco",
      "class": "monaco"
    },
    {
      "name": "New Zealand",
      "class": "new-zealand"
    },
    {
      "name": "Philippines",
      "class": "philippines"
    },
    {
      "name": "Poland",
      "class": "poland"
    },
    {
      "name": "Portugal",
      "class": "portugal"
    },
    {
      "name": "Qatar",
      "class": "qatar"
    },
    {
      "name": "Romania",
      "class": "romania"
    },
    {
      "name": "Russia",
      "class": "russia"
    },
    {
      "name": "Saudi Arabia",
      "class": "saudi-arabia"
    },
    {
      "name": "Serbia",
      "class": "serbia"
    },
    {
      "name": "Singapore",
      "class": "singapore"
    },
    {
      "name": "Slovakia",
      "class": "slovakia"
    },
    {
      "name": "Spain",
      "class": "spain"
    },
    {
      "name": "Switzerland",
      "class": "switzerland"
    },
    {
      "name": "Thailand",
      "class": "thailand"
    },
    {
      "name": "Turkey",
      "class": "turkey"
    },
    {
      "name": "United Arab Emirates",
      "class": "united-arab-emirates"
    },
    {
      "name": "United States",
      "class": "united-states"
    }
  ]
  sprite_icons = [
    {
      "name": "2C2P 123",
      "class": "twoc2p",
      "size": "icon_50x30"
    },
    {
      "name": "Union Pay",
      "class": "unionpay",
      "size": "icon_50x30"
    },
    {
      "name": "BCA",
      "class": "bca",
      "size": "icon_50x30"
    },
    {
      "name": "MOL Pay",
      "class": "molpay",
      "size": "icon_50x30"
    },
    {
      "name": "AMERICAN EXPRESS",
      "class": "amex",
      "size": "icon_50x30"
    },
    {
      "name": "Mastercard",
      "class": "mastercard",
      "size": "icon_50x30"
    },
    {
      "name": "VISA",
      "class": "visa",
      "size": "icon_50x30"
    },
    {
      "name": "WEB CASH",
      "class": "webcash",
      "size": "icon_50x30"
    },
    {
      "name": "AmBank",
      "class": "ambank",
      "size": "icon_50x30"
    },
    {
      "name": "FPX",
      "class": "fpx",
      "size": "icon_50x30"
    },
    {
      "name": "PayPal",
      "class": "paypal",
      "size": "icon_50x30"
    },
    {
      "name": "TMB",
      "class": "tmb",
      "size": "icon_50x30"
    },
    {
      "name": "KASIKORNBANK",
      "class": "kkbank",
      "size": "icon_50x30"
    },
    {
      "name": "Krungsri",
      "class": "krungsri",
      "size": "icon_50x30"
    },
    {
      "name": "SCB",
      "class": "scb",
      "size": "icon_50x30"
    },
    {
      "name": "Card 16",
      "class": "card16",
      "size": "icon_50x30"
    },
    {
      "name": "UOB",
      "class": "uob",
      "size": "icon_50x30"
    },
    {
      "name": "PAYATPOST",
      "class": "payatpost",
      "size": "icon_50x30"
    },
    {
      "name": "TESCO",
      "class": "tesco",
      "size": "icon_50x30"
    },
    {
      "name": "BBL",
      "class": "bbl",
      "size": "icon_50x30"
    },
    {
      "name": "TrueMoney",
      "class": "truemoney",
      "size": "icon_50x30"
    },
    {
      "name": "T Bank",
      "class": "tbank",
      "size": "icon_50x30"
    },
    {
      "name": "Big C",
      "class": "bigc",
      "size": "icon_50x30"
    },
    {
      "name": "MPay",
      "class": "mpay",
      "size": "icon_50x30"
    },
    {
      "name": "Just Pay",
      "class": "jautpay",
      "size": "icon_50x30"
    },
    {
      "name": "Public Bank",
      "class": "pubbank",
      "size": "icon_50x30"
    },
    {
      "name": "GCash",
      "class": "gcash",
      "size": "icon_50x30"
    },
    {
      "name": "Convenience Stores",
      "class": "cstore",
      "size": "icon_50x30"
    },
    {
      "name": "BNI VA",
      "class": "bni",
      "size": "icon_50x30"
    },
    {
      "name": "Mandiri",
      "class": "mandiri",
      "size": "icon_70x30"
    },
    {
      "name": "PayPal",
      "class": "paypal",
      "size": "icon_70x30"
    },
    {
      "name": "VISA",
      "class": "visa",
      "size": "icon_70x30"
    },
    {
      "name": "RHB Now",
      "class": "rhbnow",
      "size": "icon_70x30"
    },
    {
      "name": "MEPF Currency",
      "class": "mepf",
      "size": "icon_70x30"
    },
    {
      "name": "Dragonpay",
      "class": "dragonpay",
      "size": "icon_70x30"
    },
    {
      "name": "Cash On Delivery",
      "class": "cod",
      "size": "icon_70x30"
    },
    {
      "name": "BAYAR DI TEMPAT",
      "class": "bayar",
      "size": "icon_70x30"
    },
    {
      "name": "AfterPay",
      "class": "afterpay",
      "size": "icon_70x30"
    },
    {
      "name": "Hongleong Connect",
      "class": "connect",
      "size": "icon_70x30"
    },
    {
      "name": "Danamon VA",
      "class": "danamon",
      "size": "icon_70x30"
    },
    {
      "name": "PAYATALL",
      "class": "payatall",
      "size": "icon_70x30"
    },
    {
      "name": "maybank2u.com",
      "class": "maybank",
      "size": "icon_100x30"
    },
    {
      "name": "Hong Leong Bank",
      "class": "hongleong",
      "size": "icon_100x30"
    },
    {
      "name": "CIMB Clicks",
      "class": "cimbclick",
      "size": "icon_100x30"
    },
    {
      "name": "Permata Bank",
      "class": "permata",
      "size": "icon_100x30"
    },
    {
      "name": "Verified by VISA",
      "class": "visa",
      "size": "icon_90x40"
    },
    {
      "name": "MasterCard SecureCode",
      "class": "mastercard",
      "size": "icon_90x40"
    },
    {
      "name": "AMERICAN EXPRESS SafeKey",
      "class": "amex",
      "size": "icon_90x40"
    }
  ]

article#icons
  h1.h1 Icons

  section
    h3.h3 Navigation and Menu
    - navigation_icons.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Orders and Shipping Status
    - orders_and_shipping.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Payment Types
    - flags.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .sprite-icon class="#{icon[:class]}" class="#{icon[:size]}"
        div.icon-data
          p=icon[:name]
          p.subtext .sprite-icon.#{icon[:class]}.#{icon[:size]}
    h3.h3 My Account
    - my_account.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{ icon[:class] }
    h3.h3 Beauty Pass
    - beauty_pass.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Functions
    - function.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Social Media and Email
    - social_media.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Flags
    - countries.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}
    h3.h3 Others
    - others.each do | icon |
      .icon-container.col-12.col-md-6
        .helper
        .svg-icon class="#{icon[:class]}" class="#{icon[:background]}"
        div.icon-data
          p=icon[:name]
          p.subtext .svg-icon.#{icon[:class]}

  br
  br
