script src='https://unpkg.com/vue'

main.container-fluid#app role='main'
  h1.h1 Sephora Style Guide

  = render 'sephora_style_guide/home/typography'
  = render 'sephora_style_guide/home/colors'
  = render 'sephora_style_guide/home/buttons'
  = render 'sephora_style_guide/home/forms'
  = render 'sephora_style_guide/home/tables'
  = render 'sephora_style_guide/home/grid'

  br
  h2.h2 Partials
  = render 'sephora_style_guide/home/product_card'

javascript:
  var app = new Vue({
    el: '#app',
    data: {
      text: 'The quick brown fox jumps over the lazy dog.',
      fontSize: '18',
      buttonIsDisabled: false,
      buttonText: this.textInitial,
      buttonTextInitial: '',
      buttonTextPending: 'Adding...',
      showProductOneActions: false,
      showProductTwoActions: false,
      showProductThreeActions: false,
      waitlistText: 'Waitlist Me',
      productIsWaitListed: false,
      productOneIsWishListed: false,
      productTwoIsWishListed: false,
      productThreeIsWishListed: false,
      isVariantOneSelected: true,
      isVariantTwoSelected: false,
      isVariantThreeSelected: false,
      isVariantFourSelected: false,
      isVariantFiveSelected: false,
      isVariantSixSelected: false,
      isVariantSevenSelected: false,
      isVariantEightSelected: false,
      isVariantNineSelected: false,
      isVariantTenSelected: false,
      isVariantElevenSelected: false,
      isVariantTwelveSelected: false,
      isVariantThirteenSelected: false,
      isVariantFourteenSelected: true,
      isVariantFifteenSelected: false
    },
    methods: {
      changeInitialText: function() {
        this.buttonText = this.buttonTextInitial;
      },

      clickButton: function() {
        var self = this;
        this.buttonText = this.buttonTextPending;
        this.isDisabled = 'disabled';
        setTimeout(function(){
          self.buttonText = self.buttonTextInitial;
          self.buttonIsDisabled = false;
        }, 2000);
      },

      mouseoverProductCard: function(e) {
        const target = e.target.closest(".product-card").getAttribute('name');
        if (target === 'product1') {
          this.showProductOneActions = true;
        } else if (target === 'product2') {
          this.showProductTwoActions = true;
        } else if (target === 'product3') {
          this.showProductThreeActions = true;
        }        
      },

      mouseleaveProductCard: function() {
        this.showProductOneActions = false;
        this.showProductTwoActions = false;
        this.showProductThreeActions = false;
      },
      
      waitlistProduct: function() {
        this.waitlistText = 'Waitlisted';
        this.productIsWaitListed = true;
      },
      
      setProductRating: function() {
        const product = document.getElementsByName("product3")[0];
        const productRating = product.querySelector(".product-current-rating");
        productRating.style.width = '49px';
      },
      
      selectVariant: function(e) {
        if (e.target.getAttribute('name') === 'variant1') {
          this.clearActiveVariants();
          this.isVariantOneSelected = true;
        } else if (e.target.getAttribute('name') === 'variant2') {
          this.clearActiveVariants();
          this.isVariantTwoSelected = true;
        } else if (e.target.getAttribute('name') === 'variant3') {
          this.clearActiveVariants();
          this.isVariantThreeSelected = true;
        } else if (e.target.getAttribute('name') === 'variant4') {
          this.clearActiveVariants();
          this.isVariantFourSelected = true;
        } else if (e.target.getAttribute('name') === 'variant5') {
          this.clearActiveVariants();
          this.isVariantFiveSelected = true;
        } else if (e.target.getAttribute('name') === 'variant6') {
          this.clearActiveVariants();
          this.isVariantSixSelected = true;
        } else if (e.target.getAttribute('name') === 'variant7') {
          this.clearActiveVariants();
          this.isVariantSevenSelected = true;
        } else if (e.target.getAttribute('name') === 'variant8') {
          this.clearActiveVariants();
          this.isVariantEightSelected = true;
        } else if (e.target.getAttribute('name') === 'variant9') {
          this.clearActiveVariants();
          this.isVariantNineSelected = true;
        } else if (e.target.getAttribute('name') === 'variant10') {
          this.clearActiveVariants();
          this.isVariantTenSelected = true;
        } else if (e.target.getAttribute('name') === 'variant11') {
          this.clearActiveVariants();
          this.isVariantElevenSelected = true;
        } else if (e.target.getAttribute('name') === 'variant12') {
          this.clearActiveVariants();
          this.isVariantTwelveSelected = true;
        } else if (e.target.getAttribute('name') === 'variant13') {
          this.clearActiveVariants();
          this.isVariantThirteenSelected = true;
        } else if (e.target.getAttribute('name') === 'variant14') {
          this.clearActiveVariants();
          this.isVariantFourteenSelected = true;
        } else if (e.target.getAttribute('name') === 'variant15') {
          this.clearActiveVariants();
          this.isVariantFifteenSelected = true;
        } 
      },
      
      clearActiveVariants: function() {
        this.isVariantOneSelected = false;
        this.isVariantTwoSelected = false;
        this.isVariantThreeSelected = false;
        this.isVariantFourSelected = false;
        this.isVariantFiveSelected = false;
        this.isVariantSixSelected = false;
        this.isVariantSevenSelected = false;
        this.isVariantEightSelected = false;
        this.isVariantNineSelected = false;
        this.isVariantTenSelected = false;
        this.isVariantElevenSelected = false;
        this.isVariantTwelveSelected = false;
        this.isVariantThirteenSelected = false;
        this.isVariantFourteenSelected = false;
        this.isVariantFifteenSelected = false;
      },
      
      setWishList: function(e) {
        if (e.target.parentNode.className === 'product-card-wish-list-heart' || 
          e.target.parentNode.parentNode.className === 'product-card-wish-list-heart-filled') {
          const target = e.target.closest(".product-card").getAttribute('name');
          if (target === 'product1') {
            this.productOneIsWishListed = !this.productOneIsWishListed;
          } else if (target === 'product2') {
            this.productTwoIsWishListed = !this.productTwoIsWishListed;
          } else if (target === 'product3') {
            this.productThreeIsWishListed = !this.productThreeIsWishListed;
          }
        } 
      }
    },
    created() {
      this.setProductRating();
    }
  });
