%heart-icon {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 15px;
  width: $product-card-heart-width;
  height: $product-card-heart-height;
  opacity: 0.8;

  @include media-breakpoint-down(lg) {
    visibility: visible;
    position: absolute;
    top: auto;
    margin-top: -40px;
  }
}

.rating-container {
  .rateit .rateit-range {
    background: asset-url('sephora_style_guide/star.png') !important;
    background-size: 15px 12px !important;
  }

  .rateit .rateit-selected,
  .rateit .rateit-preset {
    position: absolute;
    top: 0;
    background: asset-url('sephora_style_guide/star-filled.png') !important;
    background-size: 15px 12px !important;
  }
}

.product-card {
  width: 100%;

  &:hover {
    .product-card-heart,
    .product-card-heart-filled {
      visibility: visible;
    }
  }

  .product-card-image-container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .product-card-image {
    width: 100%;
    display: block;
  }

  .product-card-actions {
    position: relative;
    width: 100%;
    height: $product-card-actions-height;

    .product-card-add-to-bag,
    .product-card-add-to-wait-list {
      margin-top: -$product-card-actions-height;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .out-of-stock {
    @include font-avalon-demi;
    position: absolute;
    width: 100%;
    height: 45px;
    padding-top: 17px;
    background-color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-align: center;
    color: $grey-dark;
    font-size: 16px;
    pointer-events: none;

    @include media-breakpoint-down(md) {
      padding-top: 9px;
      height: 30px;
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 6px;
    }
  }

  .product-card-heart {
    @extend %heart-icon;
    background: asset_url('sephora_style_guide/heart.svg');

    &:hover {
      @include media-breakpoint-up(lg) {
        background: asset_url('sephora_style_guide/heart-outline.svg');
      }
    }
  }

  .product-card-heart-filled {
    @extend %heart-icon;
    background: asset_url('sephora_style_guide/heart-filled.svg');
  }

  .product-card-variants-carousel {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;

    .carousel-arrow-left {
      position: absolute;
      left: 0;
      height: 30px;
      width: 20px;
      background-size: 10px 17px;
      cursor: pointer;
    }

    .carousel-arrow-right {
      position: absolute;
      right: 0;
      height: 30px;
      width: 20px;
      background-size: 10px 17px;
      cursor: pointer;
    }

    .carousel-more-variants {
      width: 40px;
      text-align: right;
      top: 7.5px;
      right: 0;
      position: absolute;
      z-index: $more-variants-z-index;
      margin-right: 20px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $white);
      cursor: default;
      pointer-events: none;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .product-card-variants {
    height: $product-card-actions-height;
    text-align: left;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    z-index: $variants-z-index;

    &.variants-overflow {
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
    }

    .variant-container {
      height: 15px;

      .out-of-stock {
        margin-left: 2.5px;
        margin-right: 2.5px;
      }
    }

    .product-variant {
      height: 15px;
      width: 15px;
      margin-left: 2.5px;
      margin-right: 2.5px;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        border: 1px solid $black;
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .product-card-description {
    font-size: 13px;
    line-height: 18px;
    display: block;
    margin-top: 17px;
    width: 90%;

    @include media-breakpoint-up(lg) {
      margin-top: 30px;
    }

    &:hover {
      color: inherit;
    }
  }

  .product-card-label {
    @include font-avalon-demi;
    font-size: 10px;
    letter-spacing: 1.5px;
    color: $grey-mid;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }

    .product-card-label-primary {
      color: $brand-primary;
    }
  }

  .product-card-brand {
    @include font-avalon-demi;
    text-transform: uppercase;
    margin-bottom: 1px;
  }

  .product-card-product {
    overflow-wrap: break-word;
    margin-bottom: 1px;
  }

  .product-price {
    margin-bottom: 2px;
  }

  .product-card-rating {
    margin-bottom: 2px;

    .product-rating {
      position: relative;
      width: 72px;
    }
  }

  .product-card-variants-count {
    color: $grey-dark;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.product-price {
  @include font-avalon-demi;

  .product-price-sale-old {
    @include font-avalon-book;
    text-decoration: line-through;
    margin-right: 5px;
  }

  .product-price-sale-new {
    margin-right: 5px;
  }

  .product-price-sale-text {
    color: $brand-primary;
  }
}
