.product-card {
  width: 100%;
  position: relative;

  &:hover {
    .product-card-heart,
    .product-card-heart-filled {
      visibility: visible;
    }
  }

  .product-card-image {
    width: 100%;
    display: block;
  }

  .product-card-actions {
    position: relative;
    width: 100%;
    height: $product-card-actions-height;

    .product-card-add-to-bag,
    .product-card-add-to-wish-list {
      margin-top: -$product-card-actions-height;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .out-of-stock {
    @include font-avalon-demi;
    position: absolute;
    top: 26%;
    width: 100%;
    height: 45px;
    padding-top: 17px;
    background-color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-align: center;
    color: $grey-dark;
    font-size: 16px;

    @include media-breakpoint-down(lg) {
      top: 25%;
    }

    @include media-breakpoint-down(md) {
      top: 22%;
      padding-top: 9px;
      height: 30px;
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      top: 3em;
      padding-top: 6px;
    }
  }

  .product-card-heart,
  .product-card-heart-filled {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: $product-card-heart-width;
    height: $product-card-heart-height;
    opacity: 0.8;

    @include media-breakpoint-down(lg) {
      visibility: visible;
      position: absolute;
      top: auto;
      margin-top: -40px;
    }
  }

  .product-card-heart:hover svg g path {
    @include media-breakpoint-up(lg) {
      fill: $brand-primary;
    }
  }

  .product-card-variants-carousel {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;

    .carousel-arrow-left {
      position: absolute;
      left: 0;
      top: 6.5px;
      height: 17px;
      width: 10px;
      background: asset-url('/assets/sephora_style_guide/left_arrow.png') no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .carousel-arrow-right {
      position: absolute;
      right: 0;
      top: 6.5px;
      height: 17px;
      width: 10px;
      background: asset-url('/assets/sephora_style_guide/right_arrow.png') no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .carousel-more-variants {
      width: 40px;
      text-align: right;
      top: 7.5px;
      right: 0;
      position: absolute;
      z-index: $more-variants-z-index;
      margin-right: 20px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $white);
      cursor: default;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .product-card-variants {
    height: $product-card-actions-height;
    text-align: left;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    z-index: $variants-z-index;

    &.variants-overflow {
      margin-left: 15px;
      margin-right: 25px;
    }

    .product-variant {
      height: 15px;
      width: 15px;
      margin-left: 2.5px;
      margin-right: 2.5px;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        border: 1px solid $black;
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .product-card-description-container {
    font-size: 13px;
    line-height: 17px;

    &:hover {
      color: inherit;
    }

    %product-card-label {
      font-size: 10px;
      @include font-avalon-demi;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }
    }

    .product-card-label-new-arrival {
      @extend %product-card-label;
      color: $brand-primary;
    }

    .product-card-label-limited-edition {
      @extend %product-card-label;
      color: $grey-mid;
    }

    .product-card-description {
      margin-top: 30px;
      width: 90%;

      .product-card-brand {
        @include font-avalon-demi;
        text-transform: uppercase;
      }

      .product-card-product {
        overflow-wrap: break-word;
      }

      .product-card-price {
        @include font-avalon-demi;
      }

      .product-card-discount-price {
        .product-old-price {
          text-decoration: line-through;
          display: inline-block;
          margin-right: 5px;
        }

        .product-new-price {
          display: inline-block;
          margin-right: 5px;
          @include font-avalon-demi;
        }

        .product-discount-percentage {
          color: $brand-primary;
          display: inline-block;
          @include font-avalon-demi;
        }
      }

      .product-card-rating {
        .product-rating {
          position: relative;
          width: 72px;
        }

        .rateit .rateit-range {
          height: 12px;
          background: asset-url('/assets/sephora_style_guide/star.png') !important;
        }

        .rateit .rateit-selected,
        .rateit .rateit-preset {
          height: 12px;
          position: absolute;
          top: 0;
          background: asset-url('/assets/sephora_style_guide/star-filled.png') !important;
        }
      }

      @include media-breakpoint-down(lg) {
        margin-top: 17px;
      }
    }
  }
}
