.product-card {
  width: $product-card-width;

  &:hover {
    .product-card-wish-list-heart {
      display: block;
    }
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    width: $product-card-width-tablet;

    .product-card-image {
      height: $product-card-image-height-tablet;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-tablet;
    }

    .product-card-wish-list-heart {
      display: block;
      margin-left: calc(#{$product-card-width-tablet} - #{$product-card-wish-list-heart-width});
      margin-top: -$product-card-wish-list-heart-height;
    }

    .out-of-stock {
      width: $product-card-width-tablet;
      margin-top: -$out-of-stock-margin-top-tablet;
    }
  }

  // mobile
  @include media-breakpoint-down(md) {
    width: $product-card-width-mobile;

    .product-card-image {
      height: $product-card-image-height-mobile;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-mobile;
    }

    .product-card-wish-list-heart {
      display: block;
      margin-left: calc(#{$product-card-width-mobile} - #{$product-card-wish-list-heart-width});
      margin-top: -$product-card-wish-list-heart-height;
    }

    .out-of-stock {
      width: $product-card-width-mobile;
      margin-top: -$out-of-stock-margin-top-mobile;
    }
  }
}

.out-of-stock {
  @include font-avalon-demi;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -$out-of-stock-margin-top;
  width: $product-card-width;
  height: 30px;
  opacity: 0.75;
  background-color: $white;
  position: absolute;
  text-transform: uppercase;
  color: $grey-dark;
}

.product-card-add-to-bag, .product-card-add-to-wish-list {
  margin-top: -38px;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.product-card-image {
  display: block;
  height: $product-card-image-height;
}

.product-card-actions {
  position: absolute;
  width: $product-card-width;
}

.product-card-wish-list-heart {
  height: $product-card-wish-list-heart-height;
  width: $product-card-wish-list-heart-width;
  opacity: 0.8;
  background: url('/assets/sephora_style_guide/shared_sephora_icons_v5.png') -86px -119px;
  position: absolute;
  display: none;
  margin-left: calc(#{$product-card-width} - #{$product-card-wish-list-heart-width});
  margin-top: -$product-card-image-height;

  &:hover {
    background-position: -107px -120px;
  }
}

.product-card-variants {
  height: 30px;
}

.product-card-description {
  font-size: 13px;
  line-height: 17px;

  &:hover {
    color: inherit;
  }
}

.product-card-label {
  font-size: 10px;
  @include font-avalon-demi;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-card-label-new-arrival {
  @extend .product-card-label;
  color: $brand-primary;
}

.product-card-label-limited-edition {
  @extend .product-card-label;
  color: $grey-mid;
}

.product-card-brand {
  @include font-avalon-demi;
  text-transform: uppercase;
}

.product-card-product {
  overflow-wrap: break-word;
}

.product-card-price {
  @include font-avalon-demi;
}

.product-card-rating {
  height: 12px;
  width: 54px;
  background: url('/assets/sephora_style_guide/sephora-stars-sm.png') 0 -12px !important;
}
