.product-card {
  &:hover {
    .product-wishlist {
      display: block;
    }
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    .product-card-image {
      height: $product-card-image-height-tablet;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-tablet;
    }

    .product-wishlist {
      display: block;
      margin-left: calc(#{$product-card-width-tablet} - 40px);
      margin-top: calc(#{$product-card-image-height-tablet} - 40px);
    }
  }

  // mobile
  @include media-breakpoint-down(md) {
    .product-card-image {
      height: $product-card-image-height-mobile;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-mobile;
    }

    .product-wishlist {
      display: block;
      margin-left: calc(#{$product-card-width-mobile} - 40px);
      margin-top: calc(#{$product-card-image-height-mobile} - 40px);
    }
  }
}

.product-card-disabled {
  width: $product-card-width;
  height: $product-card-height;

  &:hover {
    .product-wishlist {
      display: block;
    }
  }

  // tablet
  @include media-breakpoint-between(md, lg) {
    width: $product-card-width-tablet;
    height: $product-card-height-tablet;

    .product-card-image {
      height: $product-card-image-height-tablet;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-tablet;
    }

    .product-wishlist {
      display: block;
      margin-left: calc(#{$product-card-width-tablet} - 40px);
      margin-top: calc(#{$product-card-image-height-tablet} - 40px);
    }
  }

  // mobile
  @include media-breakpoint-down(md) {
    width: $product-card-width-mobile;
    height: $product-card-height-mobile;

    .product-card-image {
      height: $product-card-image-height-mobile;
    }

    .product-card-actions {
      position: absolute;
      width: $product-card-width-mobile;
    }

    .product-wishlist {
      display: block;
      margin-left: calc(#{$product-card-width-mobile} - 40px);
      margin-top: calc(#{$product-card-image-height-mobile} - 40px);
    }
  }
}

.product-card-add-to-bag {
  margin-top: -38px;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.product-card-image {
  display: block;
  height: $product-card-image-height;
}

.product-card-actions {
  position: absolute;
  width: $product-card-width;
}

.product-wishlist {
  height: 40px;
  width: 40px;
  opacity: 0.8;
  background: $white;
  position: absolute;
  display: none;
  margin-left: calc(#{$product-card-width} - 40px);
}

.product-card-variants {
  height: 30px;
}

.product-card-description {
  font-size: 13px;
  line-height: 17px;

  &:hover {
    color: inherit;
  }
}

.product-card-label {
  font-size: 10px;
  @include font-avalon-demi;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-card-label-primary {
  @extend .product-card-label;
  color: $brand-primary;
}

.product-card-label-secondary {
  @extend .product-card-label;
  color: $grey-mid;
}

.product-card-brand {
  @include font-avalon-demi;
  text-transform: uppercase;
}

.product-card-product {

}

.product-card-price {
  @include font-avalon-demi;
}

.product-card-rating {

}
