.product-card {
  width: 100%;

  .product-card-image {
    width: 100%;
    display: block;
  }

  .product-card-actions {
    position: relative;
    width: 100%;
    height: $product-card-actions-height;

    .product-card-add-to-bag,
    .product-card-add-to-wish-list {
      margin-top: -$product-card-actions-height;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &:hover {
    .product-card-wish-list-heart {
      display: block;
    }
  }

  .out-of-stock {
    @include font-avalon-demi;
    top: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: $product-card-actions-height;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    text-transform: uppercase;
    color: $grey-dark;

    @include media-breakpoint-down(md) {
      top: 25%;
    }
  }

  .product-card-wish-list-heart {
    top: 0;
    right: 15px;
    width: $product-card-wish-list-heart-width;
    height: $product-card-wish-list-heart-height;
    opacity: 0.8;
    background: url('/assets/sephora_style_guide/heart.svg');
    position: absolute;
    display: none;

    &:hover {
      background: url('/assets/sephora_style_guide/heart-filled.svg');
    }

    @include media-breakpoint-down(lg) {
      display: block;
      position: absolute;
      top: auto;
      right: 10px;
      margin-top: -25px;
    }
  }

  .product-card-variants {
    height: $product-card-actions-height;
    text-align: left;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    .product-variant {
      height: 50%;
      margin-left: 2.5px;
      margin-right: 2.5px;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        border: 1px solid $black;
        margin-left: 1.5px;
        margin-right: 1.5px;
      }
    }
  }

  .product-card-description {
    font-size: 13px;
    line-height: 17px;

    &:hover {
      color: inherit;
    }
  }

  .product-card-description-container {
    margin-top: 30px;
    width: 90%;

    %product-card-label {
      font-size: 10px;
      @include font-avalon-demi;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .product-card-label-new-arrival {
      @extend %product-card-label;
      color: $brand-primary;
    }

    .product-card-label-limited-edition {
      @extend %product-card-label;
      color: $grey-mid;
    }

    .product-card-brand {
      width: 90%;
      @include font-avalon-demi;
      text-transform: uppercase;
    }

    .product-card-product {
      overflow-wrap: break-word;
    }

    .product-card-price {
      @include font-avalon-demi;
    }

    .product-card-price-discount {
      .product-card-old-price {
        text-decoration: line-through;
        display: inline-block;
        margin-right: 5px;
      }

      .product-card-new-price {
        display: inline-block;
        margin-right: 5px;
        @include font-avalon-demi;
      }

      .product-card-discount-percentage {
        color: $brand-primary;
        display: inline-block;
        @include font-avalon-demi;
      }
    }

    .product-card-rating {
      .product-rating-range {
        height: 12px;
        width: 60px;
        background: url('/assets/sephora_style_guide/sephora-stars-sm.png') 0 -12px !important;

        .product-current-rating {
          height: 12px;
          width: 0;
          position: absolute;
          background: url('/assets/sephora_style_guide/sephora-stars-sm.png') 0 0 !important;
        }
      }
    }
  }
}
