@mixin transition($transition...) {
  transition: $transition;
}

@import 'mixins/breakpoints';
@import 'mixins/buttons';
@import 'mixins/clearfix';
@import 'mixins/float';
@import 'mixins/forms';
@import 'mixins/hover';
@import 'mixins/tab_focus';
