@mixin transition($transition...) {
  transition: $transition;
}

@import 'mixins/breakpoints';
@import 'mixins/buttons';
@import 'mixins/clearfix';
@import 'mixins/float';
@import 'mixins/forms';
@import 'mixins/grid-framework';
@import 'mixins/grid';
@import 'mixins/hover';
@import 'mixins/icons';
@import 'mixins/typography';
@import 'mixins/card';
@import 'mixins/transition';
@import 'mixins/visibility';
