// Temporary applied element-by-element. Should be applied to *
.btn,
.form-group,
.form-control {
  box-sizing: border-box;
}

// Base
html {
  @include font-family-avalon;
  @include font-avalon-book;
  color: $black;
  font-size: $font-size-root-mobile;
  line-height: $line-height-root-mobile;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-up(md) {
    font-size: $font-size-root;
    line-height: $line-height-root;
  }
}

body {
  background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

// Forms
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Tables
table {
  border-collapse: collapse; // Prevent double borders
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input:invalid {
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

// Elements
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
