// Temporary applied element-by-element. Should be applied to *
.btn,
.form-group,
.form-control {
  box-sizing: border-box;
}

// Base
html {
  @include font-avalon-book;
  color: $black;
  font-size: $font-size-root-mobile;
  line-height: $line-height-root-mobile;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include media-breakpoint-up(md) {
    font-size: $font-size-root;
    line-height: $line-height-root;
  }
}

body {
  background-color: $body-bg;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

[tabindex='-1']:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

// Forms
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
