<!DOCTYPE html>
<html>
<head>
  <title>Sephora style guide</title>
  <%= stylesheet_link_tag    "sephora_style_guide/application", media: "all" %>
  <%= javascript_include_tag "sephora_style_guide/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
