#buttons {
  .button-variant {
    display: inline-block;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(md) {
      min-width: 16%;
      margin-right: 5%;
      width: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  h4 { margin-bottom: 5px; }

  .btn {
    margin-bottom: 10px;
  }
}
