.sg-color-card {
  display: inline-block;
  border: 1px solid $grey-light;
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  margin-right: 20px;

  .sg-color-preview {
    margin-bottom: 10px;
    height: 120px;
    width: 125px;

    &.color-brand-primary {
      background: $brand-primary;
    }

    &.color-brand-success {
      background: $brand-success;
    }

    &.color-brand-error {
      background: $brand-error;
    }

    &.color-black {
      background: $black;
    }

    &.color-grey-dark {
      background: $grey-dark;
    }

    &.color-grey-mid {
      background: $grey-mid;
    }

    &.color-grey {
      background: $grey;
    }

    &.color-grey-light {
      background: $grey-light;
    }

    &.color-white {
      background: $white;
    }
  }

  .sg-color-name {
    @include font-avalon-bold;
  }
}
