#grid {
  .row {
    margin-bottom: 20px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col {
    background-color: $grey-light;
    background-clip: content-box;
    border: 1px solid $grey;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
