#icons {
  .icon-container {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    white-space: nowrap;  // prevent icon-data from wrapping

    &:hover {
      background: $white;
    }

    .svg-icon,
    .sprite-icon {
      display: inline-block;
      vertical-align: middle;
      float: none; // remove default float value for sprites

      &.background {
        background-color: $grey;  // background for white icons
      }
    }

    .subtext {
      font-size: 11px;
      font-weight: normal;
      line-height: 12px;
      font-family: monospace;
    }

    .helper {
      height: 100%;
      width: 20px;
      display: inline-block;
      vertical-align: middle;
    }

    .icon-data {
      @include font-weight-medium;
      display: inline-block;
      vertical-align: middle;
      line-height: 16px;
      font-size: 13px;
      margin-left: 20px;
      width: calc(100% - 60px); // allow icon data to overflow, 60px = 20px helper + 40px icon size
      white-space: normal;
    }
  }
}
