#pagination {
  section {
    float: left;
    width: 50%;
  }
  
  .pagination {
    display: inline-block;
    text-align: center;
    
    .page {
      background: $white;
      border: 1px solid $grey;
      border-right: 0;
      display: inline-block;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      padding: 8px;
      height: 40px;
      min-width: 40px;
      width: auto;
      box-sizing: border-box;
      
      &:last-child {
        border-right: 1px solid $grey;
      }
      
      a,
      em {
        display: inline-block;
        padding: 4px 3px 0;
        vertical-align: middle;
        width: auto;
        font-style: normal;
        box-sizing: initial;
      }
      
      &:hover {
        background: $grey;
      }
      
      &.current {
        background: $grey-light;
      }
      
      &.continue {
        border: 0;
        border-left: 1px solid $grey;
        
        @include hover {
          background: $white;
        }
      }
      
      @include hover {
        background: $grey;
      }
      
      &.next a,
      &.prev a {
        width: 15px;
        height: 15px;
        
        svg {
          width: 15px;
          height: 15px;
          font-size: 20px;
        }
      }
      
      &.prev a {
        padding: 4px 3px 0 0;
      }
      
      &.next a {
        padding: 4px 0 0 2px;
      }
    }
  }
}
