#sprite_icons {
  .icon_container {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background-color: #eee;
    background-clip: content-box;
    box-sizing: border-box;
    margin-bottom: 20px;

    div {
      display: inline-block;
      vertical-align: middle;
      margin: auto;
    }
    
    .sprite-icon {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }

    p {
      position: relative;
      font-size: 20px;
      left: 50px;
      line-height: 30px;
    }

    .subtext {
      font-size: 12px;
      line-height: normal;
    }

    .helper {
      height: 100%;
      width: 20px;
      display: inline-block;
    }
  }
}
