#svg_icons {
  .icon_container {
    display: inline-block;
    width: 95%;
    height: 60px;
    padding: 0 20px;
    margin: 10px 20px;
    background: rgba(188, 201, 212, 0.1);
    box-sizing: border-box;

    &:hover {
      background: #fff;
    }

    .svg-icon,
    span {
      position: relative;
      float: left;
      margin: auto;
      top: 50%;
      font-size: 20px;
      transform: translate(0, -50%);
    }

    span {
      position: relative;
      padding-top: 6px;
      left: 50px;
      line-height: 30px;
    }

    @include media-breakpoint-up(md) {
      width: 45%;
    }
  }
}
