#svg_icons {
  .icon_container {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background: rgba(188, 201, 212, 0.1);
    background-clip: content-box;
    box-sizing: border-box;
    margin-bottom: 20px;

    &:hover {
      background: #fff;
    }

    .svg-icon {
      display: inline-block;
      vertical-align: middle;
    }

    .subtext {
      font-size: 12px;
      line-height: normal;
    }

    .helper {
      height: 100%;
      width: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    
    .icon-data {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      font-size: 20px;
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        margin-top: 15px;
        margin-left: 70px;
      }
    }    
  }
}
