.accordion {
  .card {
    &:not(:last-child) {
      border-bottom-width: 0;
    }

    &.card-light {
      border-left-width: 0;
      border-right-width: 0;
    }

    i.collapse-arrow {
      margin-top: -2px;
    }
  }

  .card-header {
    border: 0;
  }

  .collapsed {
    i.collapse-arrow {
      transform: rotate(90deg);
    }
  }
}

.accordion-sidebar {
  max-width: 300px;
  user-select: none;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  .card-header {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .card-block {
    padding-top: 0;
    padding-bottom: 8px;
  }

  ul {
    padding-left: 0;

    &.secondary {
      padding-top: 6px;
      margin-left: 20px;
    }
  }

  li {
    list-style: none;
    line-height: 15px;

    &:not(:first-child) {
      padding-top: 3px;
    }

    &:not(:last-child) {
      padding-bottom: 3px;
    }

    a:hover {
      .badge {
        color: $black;
      }
    }
  }

  .badge {
    margin-left: 5px;
  }
}
