.alert-fade-enter-active,
.alert-fade-leave-active {
  transition: $transition-fade;
}

.alert-fade-enter,
.alert-fade-leave-to {
  opacity: 0;
}

.alert-btn {
  margin-right: 5px;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  z-index: $zindex-dropdown;

  .alert-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .alert-message {
    @include font-weight-bold;
    word-wrap: break-word;
    margin-right: 10px;
  }

  .close {
    padding: 0;
    margin: 0;
    color: inherit;

    &:focus {
      outline: 0;
    }
  }
}

.alert-success {
  color: $white;
  background-color: $brand-success;
}

.alert-warning {
  color: $white;
  background-color: $brand-info;
}

.alert-error {
  color: $white;
  background-color: $brand-error;
}
