.breadcrumb {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  height: 11px;
  padding: 0;
}

.breadcrumb-item {
  display: inline-table;
  line-height: 13px;

  &::before {
    content: "/";
    display: inline-block;
    color: $grey-dark;
    padding: 0 3px;
    text-decoration: none;
  }

  &:first-child::before {
    content: "";
    padding: 0;
  }

  &:hover {
    color: $grey-dark;
    text-decoration: underline;
  }

  &.active {
    color: $btn-disabled-color;
  }

  &.active:hover {
    text-decoration: none;
  }
}
