// Base styles
.btn {
  display: inline-block;
  @include font-avalon-bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $btn-border-width solid transparent;
  border-radius: 0;
  transition: opacity 0.12s ease-in-out;

  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size);

  &:disabled,
  &.disabled {
    @include button-variant($btn-disabled-color, $btn-disabled-bg, $btn-disabled-border);
    cursor: $cursor-disabled;
    opacity: 1;
  }
}

// Alternate buttons
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-grey {
  @include button-variant($btn-grey-color, $btn-grey-bg, $btn-grey-border);
}

.btn-white {
  @include button-variant($btn-white-color, $btn-white-bg, $btn-white-border, $btn-white-hover-opacity);
}

// Button Sizes
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm);
}

// Block button
.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.btn-block {
    width: 100%;
  }
}
