.form-check {
  display: flex;

  .form-check-input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.disabled {
    pointer-events: none;
    color: $grey-mid;

    .checkbox {
      background-image: asset-url('sephora_style_guide/checkbox-disabled.svg');

      &.checked {
        background-image: asset-url('sephora_style_guide/checkbox-disabled-checked.svg');
      }
    }

    .radio {
      background-image: asset-url('sephora_style_guide/radio-disabled-unselected.svg');

      &.selected {
        background-image: asset-url('sephora_style_guide/radio-disabled-selected.svg');
      }
    }
  }

  .checkbox {
    background-image: asset-url('sephora_style_guide/checkbox.svg');

    &.checked {
      background-image: asset-url('sephora_style_guide/checkbox-checked.svg');
    }
  }

  .radio {
    background-image: asset-url('sephora_style_guide/radio-unselected.svg');

    &.selected {
      background-image: asset-url('sephora_style_guide/radio-selected.svg');
    }
  }

  .form-check-label {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: bottom;

    &.selected {
      @include font-avalon-demi;
    }
  }
}
