//
// Textual form controls
//
%form-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.form-control {
  display: block;
  width: 100%;
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  // height: $input-height;
  padding: $input-padding-top $input-padding-x $input-padding-bottom;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  background-image: none;
  background-clip: padding-box;
  border: $input-btn-border-width solid $input-border-color;

  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  &::placeholder {
    color: $input-color-placeholder;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}

select.form-control {
  @include font-weight-normal;
  appearance: none;
  display: inline-block;
  background-color: $white;
  border: 1px solid $grey-mid;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  height: $input-height;
  max-width: 300px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 20px;

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

textarea.form-control {
  font-size: $input-font-size;
  line-height: $textarea-line-height;
  resize: none;
}

// Form label
.control-label {
  position: absolute;
  top: 5px;
  left: 10px;
  color: $input-label-color;
}

.control-label-inline {
  @include font-weight-semi-bold;
  text-transform: uppercase;
  margin-right: 10px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.control-label-text {
  color: $input-label-color;
}

.control-title {
  font-size: $label-font-size-focus;
  line-height: $label-line-height-focus;
  margin-bottom: 6px;
  display: block;
  @include clearfix;
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  position: relative;
  margin-bottom: $form-group-margin-bottom;

  &.floating-labels {
    .control-label {
      font-size: $input-font-size;
      line-height: $input-line-height;
      transform: translateY(7px);
      transform-origin: left top;
      transition: 240ms;
    }

    input.form-control {
      height: $input-height;
    }

    .form-control[readonly],
    .form-control[disabled] {
      background-color: $input-bg-disabled;
      color: $input-color-disabled;
    }

    &.filled,
    &.focused,
    &:focus {
      .control-label {
        font-size: $label-font-size-focus;
        line-height: $label-line-height-focus;
        transform: translateY(0px);
      }

      .form-control[readonly],
      .form-control[disabled] {
        border-color: $input-border-color;
      }
    }

    &.textarea {
      border: 1px solid $input-border-color;

      .control-label {
        z-index: 1;
        top: 0;
        transform: translateY(12px);
      }

      textarea {
        border: none;
        position: absolute;
        bottom: 0;
        padding-top: $input-padding-bottom;
      }

      &.focus,
      &:focus {
        border-color: $input-border-focus;
      }

      &.filled,
      &.focused,
      &:focus {
        .control-label {
          transform: translateY(6px);
        }
      }
    }
  }

  .input-success {
    @extend %form-icon;
    background: asset_url('sephora_style_guide/field-succeed.svg');
  }
}

.form-text {
  display: block;
  margin-top: ($spacer * .25);
}

.has-error {
  @include form-control-validation($brand-error);

  .input-error {
    @extend %form-icon;
    background: asset_url('sephora_style_guide/field-error.svg');
  }
}

// Custom
.form-control-feedback {
  display: block;
  margin-top: 5px;
  font-size: $error-font-size;
  line-height: $error-line-height;
  position: absolute;
}

.non-editable-verification {
  .form-control[readonly] {
    border: 0;
    background-color: $white !important;
    color: $black !important;
    padding-left: 0;
  }

  .control-label {
    left: 0;
  }
}

.form-check {
  display: flex;
  margin: 2px;

  &.disabled {
    pointer-events: none;
    color: $grey-mid;

    .form-check-input.checkbox {
      background-image: asset-url('sephora_style_guide/checkbox-disabled.svg');

      &.checked {
        background-image: asset-url('sephora_style_guide/checkbox-disabled-checked.svg');
      }
    }

    .form-check-input.radio {
      background-image: asset-url('sephora_style_guide/radio-disabled-unselected.svg');

      &.selected {
        background-image: asset-url('sephora_style_guide/radio-disabled-selected.svg');
      }
    }
  }

  .form-check-label {
    cursor: pointer;
    vertical-align: bottom;

    .form-check-input {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      vertical-align: text-bottom;
      background-size: 18px 18px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .form-check-input.checkbox {
    background-image: asset-url('sephora_style_guide/checkbox.svg');

    &.checked {
      background-image: asset-url('sephora_style_guide/checkbox-checked.svg');
    }
  }

  .form-check-input.radio {
    background-image: asset-url('sephora_style_guide/radio-unselected.svg');

    &.selected {
      background-image: asset-url('sephora_style_guide/radio-selected.svg');
    }
  }
}
