i {
  &.collapse-arrow {
    position: absolute;
    right: 16px;

    height: 15px;
    width: 15px;

    background: url('/assets/sephora_style_guide/right_arrow.png') no-repeat;
    background-size: contain;
    background-position: center center;

    transform: rotate(90deg);
    transition: transform 0.3s;
  }
}
