.nav-header {
  width: 100%;
  display: block;

  %menu {
    list-style: none;
    padding: 0;
    display: inline-block;
  }

  .nav-top {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;

    .left-menu {
      @extend %menu;
      float: left;

      .menu-item {
        &:first-child {
          padding-left: 0;
        }
      }
    }

    .right-menu {
      @extend %menu;
      float: right;

      .menu-item {
        &:last-child {
          padding-right: 0;
        }
      }
    }

    .menu-item {
      @include font-avalon-demi;
      color: $white;
      font-size: 12px;
      text-transform: uppercase;
      padding: 0 10px;
      display: inline-block;

      .menu-link {
        cursor: pointer;
      }
    }
  }

  .nav-title {
    height: 85px;
    width: 100%;
    max-width: 1125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;

    .nav-brand {
      display: inline-block;
      height: 40px;
      width: 310px;

      .brand-image {
        width: 100%;
        height: 100%;
      }
    }

    .nav-promotion {
      @include font-avalon-demi;
      text-align: left;
      position: absolute;
      right: 0;

      .promotion-banner {
        display: inline-block;
        vertical-align: middle;

        .banner-image {
          width: 20px;
          height: 40px;
        }
      }

      .promotion-notification {
        display: inline-block;
        vertical-align: middle;

        .notification-title {
          @include font-avalon-demi;
          text-transform: uppercase;
          font-size: 21px;
          line-height: 25px;
        }

        .notification-subtitle {
          @include font-avalon-book;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }

  .nav-menu {
    border-bottom: 1px solid $grey;
    height: 32px;

    .nav-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      position: relative;
      padding: 0;

      .list-item {
        @include font-avalon-bold;
        font-size: 13px;
        line-height: 16px;
        padding: 8px 18px;
        text-transform: uppercase;

        &:first-child,
        &:last-child {
          padding-left: 0;
          padding-right: 0;
        }

        .list-link {
          cursor: pointer;
          display: block;
        }

        &:hover {
          padding-left: 17px;
          padding-right: 17px;
          background: $white;
          border-top: 1px solid $grey;
          border-left: 1px solid $grey;
          border-right: 1px solid $grey;

          .list-link {
            color: $brand-primary;
          }
        }
      }
    }
  }

  .nav-content {
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    background: $white;
    padding: 15px;
    margin-left: -18px;
    position: absolute;
    top: 32px;
    z-index: 2;

    .nav-pane {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      writing-mode: vertical-lr;
      max-height: 300px;
    }

    .brands {
      border-left: 1px solid #ddd;
      padding-left: 15px;

      .brands-list {
        padding-bottom: 15px;
      }

      .featured-image {
        max-height: 100px;
      }
    }

    .category,
    .brands {
      padding-bottom: 15px;
      padding-right: 15px;
      min-width: 180px;
      writing-mode: horizontal-tb;

      .category-title,
      .brands-title,
      .featured-title {
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;

        .category-title-arrow {
          width: 13px;
          margin-left: 3px;
        }
      }

      .subcategory,
      .brands-list {
        list-style: none;
        padding-left: 0;
        margin-top: 3px;
        text-transform: capitalize;

        .subcategory-title,
        .brand-option {
          @include font-avalon-book;
          font-size: 13px;
          line-height: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
