.pagination {
  display: inline-block;
  text-align: center;
  line-height: 20px;

  .page {
    background-color: $white;
    border: 1px solid $grey;
    border-right: 0;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 8px;
    height: 40px;
    min-width: 40px;
    width: auto;
    vertical-align: middle;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid $grey;
    }

    &:hover {
      background-color: $grey;
      color: $black;
    }

    &.current,
    &.current:hover {
      background-color: $grey-light;
      color: $black;
    }

    &.continue {
      border: 0;
      border-left: 1px solid $grey;

      @include hover {
        background-color: $white;
      }
    }

    @include hover {
      background-color: $grey;
    }

    &.prev,
    &.next {
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center center;
    }

    &.prev {
      background-image: asset_url('sephora_style_guide/arrow-left.svg');
    }

    &.next {
      background-image: asset_url('sephora_style_guide/arrow-right.svg');
    }
  }
}
