.sprite-icon {
  position: relative;
  float: left;
  margin: 1px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  background-repeat: no-repeat;

  &:not(.payatall) {
    @include sprite_icons;
    @include generate-sprite-icons(400px);
  }

  &.noborder {
    border: 0;
  }

  &.nospace {
    margin: 0;
  }

  &.payatall {
    background-image: asset-url('sephora_style_guide/payatall.png');
    width: 70px;
    height: 30px;
    background-size: 70px 30px;
  }

  &.fdk_wallets,
  &.fdk_kakaopay,
  &.fdk_lpay,
  &.fdk_skpay,
  &.fdk_creditcard,
  &.fdk_mobilecarrier,
  &.fdk_banktransfer,
  &.naverpay {
    margin-right: 10px;
  }
}
