.sprite-icon {
  position: relative;
  float: left;
  margin: 1px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  @include sprite_icons;
  background-repeat: no-repeat;
  @include generate-sprite-icons(400px);

  &.noborder {
    border: 0;
  }

  &.nospace {
    margin: 0;
  }
}
