.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg;
  border: $table-border-width solid $table-border-color;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border: $table-border-width solid $table-border-color;
  }

  thead th {
    background-color: $table-heading-bg;
    @include font-weight-medium;
    text-transform: uppercase;
  }
}
