// Font faces
@font-face {
  font-family: 'Sephora Serif';
  src: asset-url('SephoraSerif-Book.eot');
  src: asset-url('SephoraSerif-Book.eot?#iefix') format('embedded-opentype'),
    asset-url('SephoraSerif-Book.woff2') format('woff2'),
    asset-url('SephoraSerif-Book.woff') format('woff'),
    asset-url('SephoraSerif-Book.ttf') format('truetype'),
    asset-url('SephoraSerif-Book.svg#SephoraSerif-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sephora Serif';
  src: asset-url('SephoraSerif-BookItalic.eot');
  src: asset-url('SephoraSerif-BookItalic.eot?#iefix') format('embedded-opentype'),
    asset-url('SephoraSerif-BookItalic.woff2') format('woff2'),
    asset-url('SephoraSerif-BookItalic.woff') format('woff'),
    asset-url('SephoraSerif-BookItalic.ttf') format('truetype'),
    asset-url('SephoraSerif-BookItalic.svg#SephoraSerif-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sephora Sans';
  src: asset-url('SephoraSans-Book.eot');
  src: asset-url('SephoraSans-Book.woff2') format('woff2'),
    asset-url('SephoraSans-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Bold.eot');
  src: asset-url('Avalon-Bold.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Bold.woff2') format('woff2'),
    asset-url('Avalon-Bold.woff') format('woff'),
    asset-url('Avalon-Bold.ttf') format('truetype'),
    asset-url('Avalon-Bold.svg#Avalon-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Demi.eot');
  src: asset-url('Avalon-Demi.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Demi.woff2') format('woff2'),
    asset-url('Avalon-Demi.woff') format('woff'),
    asset-url('Avalon-Demi.ttf') format('truetype'),
    asset-url('Avalon-Demi.svg#Avalon-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Book.eot');
  src: asset-url('Avalon-Book.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Book.woff2') format('woff2'),
    asset-url('Avalon-Book.woff') format('woff'),
    asset-url('Avalon-Book.ttf') format('truetype'),
    asset-url('Avalon-Book.svg#Avalon-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Headings
.page-title {
  @include font-sephora-serif;
  font-size: 34px;
  line-height: 36px;
}

.page-title-italic {
  @include font-sephora-serif-italic;
  font-size: 34px;
  line-height: 36px;
}

.h1 {
  @include font-weight-bold;
  font-size: 24px;
  line-height: 26px;
}

.h2 {
  @include font-weight-bold;
  font-size: 20px;
  line-height: 22px;
}

.h3 {
  @include font-weight-bold;
  font-size: 16px;
  line-height: 18px;
}

.h4 {
  @include font-weight-bold;
  font-size: 14px;
  line-height: 18px;
}

.h5 {
  @include font-weight-semi-bold;
  font-size: 14px;
  line-height: 20px;

  @include media-breakpoint-up(md) {
    font-size: 13px;
    line-height: 16px;
  }
}

// Rule Headers
.rule-header {
  @include font-weight-bold;
  border-top: 1px solid $grey;
  font-size: 16px;
  line-height: 18px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;

  @include media-breakpoint-up(md) {
    border-top: 0;
    border-bottom: 1px solid $black;
    font-size: 20px;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
  }
}

// Helpers
.text-sephora-book {
  @include font-sephora-serif;
}

.text-sephora-italic {
  @include font-sephora-serif-italic;
}

.text-sephora-sans {
  @include font-sephora-sans;
}

.text-font-weight-bold {
  @include font-weight-bold;
}

.text-font-weight-semi-bold {
  @include font-weight-semi-bold;
}

.text-font-weight-normal {
  @include font-weight-normal;
}
