// Font faces
@font-face {
  font-family: 'Sephora Serif';
  src: asset-url('SephoraSerifWeb-Book.eot');
  src: asset-url('SephoraSerifWeb-Book.eot?#iefix') format('embedded-opentype'),
    asset-url('SephoraSerifWeb-Book.woff2') format('woff2'),
    asset-url('SephoraSerifWeb-Book.woff') format('woff'),
    asset-url('SephoraSerifWeb-Book.ttf') format('truetype'),
    asset-url('SephoraSerifWeb-Book.svg#SephoraSerifWeb-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sephora Serif';
  src: asset-url('SephoraSerifWeb-BookItalic.eot');
  src: asset-url('SephoraSerifWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
    asset-url('SephoraSerifWeb-BookItalic.woff2') format('woff2'),
    asset-url('SephoraSerifWeb-BookItalic.woff') format('woff'),
    asset-url('SephoraSerifWeb-BookItalic.ttf') format('truetype'),
    asset-url('SephoraSerifWeb-BookItalic.svg#SephoraSerifWeb-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Bold.eot');
  src: asset-url('Avalon-Bold.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Bold.woff2') format('woff2'),
    asset-url('Avalon-Bold.woff') format('woff'),
    asset-url('Avalon-Bold.ttf') format('truetype'),
    asset-url('Avalon-Bold.svg#Avalon-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Demi.eot');
  src: asset-url('Avalon-Demi.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Demi.woff2') format('woff2'),
    asset-url('Avalon-Demi.woff') format('woff'),
    asset-url('Avalon-Demi.ttf') format('truetype'),
    asset-url('Avalon-Demi.svg#Avalon-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: asset-url('Avalon-Book.eot');
  src: asset-url('Avalon-Book.eot?#iefix') format('embedded-opentype'),
    asset-url('Avalon-Book.woff2') format('woff2'),
    asset-url('Avalon-Book.woff') format('woff'),
    asset-url('Avalon-Book.ttf') format('truetype'),
    asset-url('Avalon-Book.svg#Avalon-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Headings
.page-title {
  @include font-sephora-serif;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: normal;
}

.page-title-italic {
  @include font-sephora-serif-italic;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: normal;
}

.h1 {
  @include font-avalon-bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.h2 {
  @include font-avalon-bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.h3 {
  @include font-avalon-bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.h4 {
  @include font-avalon-bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.h5 {
  @include font-avalon-demi;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;

  @include media-breakpoint-up(md) {
    font-size: 13px;
    line-height: 16px;
  }
}

// Helpers
.text-sephora-book {
  @include font-sephora-serif;
}

.text-sephora-italic {
  @include font-sephora-serif-italic;
}

.text-avalon-bold {
  @include font-avalon-bold;
}

.text-avalon-demi {
  @include font-avalon-demi;
}

.text-avalon-book {
  @include font-avalon-book;
}
