$brand-primary: #d50032;
$brand-success: #c000c4;
$brand-error:   #e00;

$black:         #000;
$gray-dark:     #666;
$gray:          #aaa;
$gray-light:    #ccc;
$gray-lighter:  #f1f1f1;
$white:         #fff;

$body-bg: $white;
