$brand-primary: #d50032;
$brand-success: #3a773a;
$brand-info:    #c000c4;
$brand-error:   #e00;
$red-light:     #ff4057;

$white:         #fff;
$grey-light:    #f1f1f1;
$grey:          #ccc;
$grey-mid:      #aaa;
$grey-dark:     #666;
$black:         #000;

$body-bg: $white;
