$brand-primary: #DD0031;
$brand-success: #007C5A;
$brand-info:    #1E78C2;
$brand-error:   #E81728;
$red-light:     #ff4057;
$grey9:         #999999;
$grey-light-e5: #E5E5E5;
$pure-pink:     #dd00a0;
$light-pink:    #F8CCEC;

$white:         #fff;
$grey-light:    #f1f1f1;
$grey:          #ccc;
$grey-mid:      #aaa;
$grey-dark:     #666;
$black:         #000;

$body-bg: $white;
