$brand-primary: #d50032;
$brand-success: #c000c4;
$brand-error:   #e00;

$white:         #fff;
$grey-light:    #f1f1f1;
$grey:          #ccc;
$grey-mid:      #aaa;
$grey-dark:     #666;
$black:         #000;

$body-bg: $white;
