$input-padding-x:                10px;
$input-padding-top:              19px;
$input-padding-bottom:           5px;
$input-line-height:              19px;
$input-font-size:                16px;
$input-label-color:              $grey-dark;

$input-bg:                       $white;
$input-bg-disabled:              $grey-light;
$input-color-disabled:           $grey-mid;

$input-color:                    $black;
$input-border-color:             $grey;
$input-btn-border-width:         $border-width;

$input-bg-focus:                 $white;
$input-border-focus:             $black;
$input-color-focus:              $black;

$input-color-placeholder:        $grey-mid;

$textarea-line-height:           20px;
$label-font-size-focus:          11px;
$label-line-height-focus:        13px;

$error-font-size:                12px;
$error-line-height:              14px;

// $input-padding-x-sm:             .5rem !default;
// $input-padding-y-sm:             .25rem !default;

// $input-padding-x-lg:             1.5rem !default;
// $input-padding-y-lg:             .75rem !default;

$input-height:                   40px !default;
$input-height-lg:                40px !default;
$input-height-sm:                40px !default;

$form-group-margin-bottom:       20px;

// $input-group-addon-bg:           $grey-light !default;
// $input-group-addon-border-color: $input-border-color !default;

$cursor-disabled: not-allowed;
