// ------------------------------ SVG icons congfig start ----------------------------

$sephora-svgs: account arrow-dropdown arrow-small bag-black bag-red bag-white beauty-profile beautypass birthday-gift brands black-card
            gold-card white-card black-tier gold-tier categories certified chevron-down chevron-left chevron-right chevron-up close2 delete
            delivered delivery edit-icon email facebook field-error field-succeed filter giftcard google
            heart-empty heart-empty-bg heart-empty-red-bg heart-fill heart-fill-bg heart-white help home instagram lipstick-empty lipstick-filled
            location logout makeup-1 makeup-2 benefits member-points menu orders payment-cancelled payment-expired
            payment-failed payment-paid payment-pending pdf pinterest point-history pop-location pop-parcel
            pop-payment pop-scan-barcode pop-sms print processing purchase purchase-zero review-approved review-unapproved review-rejected
            radio-disabled-selected radio-disabled-unselected radio-selected radio-unselected reviews reviews-red rewards-boutique sale scan search-black
            search-white selected-option-icon settings shade shipped show-icon size snapchat stock store-black store-white
            triangle triangle-black twitter video-play-black video-play-white waitlist welcome-gift youtube kakao;

// -------------------------------- SVG icons congfig end ------------------------------



// ------------------------------ Sprite icons congfig start ---------------------------


$icon_30x20-width: 30px;
$icon_30x20-height: 20px;
$icon_30x20-top: 0;
$icon_30x20-classes: sg my au nz hk ph th id kr;

$icon_50x30-width: 50px;
$icon_50x30-height: 30px;
$icon_50x30-top: -1 * $icon_30x20-height;
$icon_50x30-classes: twoc2p unionpay bca amex mastercard molpay webcash visa
              ambank fpx paypal tmb kkbank krungsri scb card16 uob payatpost
              tesco bbl truemoney tbank bigc mpay jautpay pubbank gcash
              cstore bni applepay;

$icon_70x30-width: 70px;
$icon_70x30-height: 30px;
$icon_70x30-top: (-4 * $icon_50x30-height) + $icon_50x30-top;
$icon_70x30-classes: mandiri paypal visa rhbnow mepf dragonpay cod bayar
                     afterpay connect danamon alipay_hk alipay atome;

$icon_100x30-width: 100px;
$icon_100x30-height: 30px;
$icon_100x30-top: (-3 * $icon_70x30-height) + $icon_70x30-top;
$icon_100x30-classes: cimbclick permata hongleong maybank;

$icon_90x40-width: 90px;
$icon_90x40-height: 40px;
$icon_90x40-top: (-1 * $icon_100x30-height) + $icon_100x30-top;
$icon_90x40-classes: visa mastercard amex;

$icon_25x60-width: 60px;
$icon_25x60-height: 25px;
$icon_25x60-classes: naverpay fdk_kakaopay fdk_wallets fdk_creditcard fdk_mobilecarrier fdk_banktransfer;
$icon_25x60-top: (-1 * $icon_90x40-height) + $icon_90x40-top;

$icon_60x40-width: 60px;
$icon_60x40-height: 40px;
$icon_60x40-classes: fpx_abb fpx_abmb fpx_bimb fpx_bkrm fpx_bmmb fpx_bsn
                     fpx_hsbc fpx_kfh fpx_ocbc fpx_pbb fpx_scb;
$icon_60x40-top: (-1 * $icon_25x60-height) + $icon_25x60-top;

$sephora-sprite: (
  icon_25x60: (
    height: $icon_25x60-height,
    width: $icon_25x60-width,
    col: 6,
    top: $icon_25x60-top,
    classes: $icon_25x60-classes
  ),
  icon_30x20: (
    height: $icon_30x20-height,
    width: $icon_30x20-width,
    col: 12,
    top: $icon_30x20-top,
    classes: $icon_30x20-classes
  ),
  icon_50x30: (
    height: $icon_50x30-height,
    width: $icon_50x30-width,
    col: 8,
    top: $icon_50x30-top,
    classes: $icon_50x30-classes
  ),
  icon_70x30: (
    height: $icon_70x30-height,
    width: $icon_70x30-width,
    col: 5,
    top: $icon_70x30-top,
    classes: $icon_70x30-classes
  ),
  icon_100x30: (
    height: $icon_100x30-height,
    width: $icon_100x30-width,
    col: 5,
    top: $icon_100x30-top,
    classes: $icon_100x30-classes
  ),
  icon_90x40: (
    height: $icon_90x40-height,
    width: $icon_90x40-width,
    col: 4,
    top: $icon_90x40-top,
    classes: $icon_90x40-classes
  ),
  icon_60x40: (
    height: $icon_60x40-height,
    width: $icon_60x40-width,
    col: 6,
    top: $icon_60x40-top,
    classes: $icon_60x40-classes
  )
);


// FIXME move this to proper place
@mixin wechat {
  .wechat {
    width: $icon_100x30-width;
    height: $icon_100x30-height;
    background-position: -270px -260px;
  }
}
* {
  @include wechat
}
// ------------------------------- Sprite icons congfig end ----------------------------

// ------------------------------ SVG icons congfig start ----------------------------
$sephora-international-countries: australia bahrain brazil canada china czech-republic
                                  denmark france germany greece hong-kong indonesia
                                  italy korea kuwait luxembourg malaysia mexico monaco new-zealand
                                  philippines poland portugal qatar romania russia
                                  saudi-arabia serbia singapore slovakia spain switzerland
                                  thailand united-states turkey united-arab-emirates;
// ------------------------------- Sprite icons congfig end ----------------------------

// ------------------------------ SVG icons congfig start ----------------------------
$sephora-order-status:  awaiting-collection awaiting-drop-off booked-for-delivery completed
                        customs-awaiting-payment shipped damaged delivery-attempted delivery-failed
                        packing-order in-transit insufficient-address invalidated lost order-cancelled
                        order-placed pickup-failed preparing-to-ship return-booked return-booking-failed
                        return-requested returned-to-sender with-driver;
// ------------------------------- Sprite icons congfig end ----------------------------

// ------------------------------ SVG icons congfig start ----------------------------
$sephora-booking-services:  store-location store-location-white calendar calendar-white;
// ------------------------------- Sprite icons congfig end ----------------------------
