// ------------------------------ SVG icons congfig start ----------------------------

$sephora-svgs: account arrow-dropdown bag-black bag-red bag-white beauty-profile beautypass birthday-gift brands black-card
            gold-card white-card black-tier gold-tier categories certified chevron-down chevron-left chevron-right chevron-up close2 delete
            delivered delivery edit-icon email facebook field-error field-succeed filter giftcard google
            heart-empty heart-empty-bg heart-empty-red-bg heart-fill heart-fill-bg help home instagram lipstick-empty lipstick-filled
            location logout makeup-1 makeup-2 benefits member-points menu orders payment-cancelled payment-expired
            payment-failed payment-paid payment-pending pdf pinterest point-history pop-location pop-parcel
            pop-payment pop-scan-barcode pop-sms print processing purchase purchase-zero review-approved review-unapproved review-rejected 
            radio-disabled-selected radio-disabled-unselected radio-selected radio-unselected reviews reviews-red rewards-boutique sale scan search-black
            search-white selected-option-icon settings shade shipped show-icon size snapchat stock store-black store-white
            triangle triangle-black twitter video-play-black video-play-white waitlist welcome-gift youtube;

// -------------------------------- SVG icons congfig end ------------------------------



// ------------------------------ Sprite icons congfig start ---------------------------


$icon_30x20-width: 30px;
$icon_30x20-height: 20px;
$icon_30x20-top: 0;
$icon_30x20-classes: sg my au nz hk ph th id;

$icon_50x30-width: 50px;
$icon_50x30-height: 30px;
$icon_50x30-top: -1 * $icon_30x20-height;
$icon_50x30-classes: twoc2p unionpay bca amex mastercard molpay webcash visa
              ambank fpx paypal tmb kkbank krungsri scb card16 uob payatpost
              tesco bbl truemoney tbank bigc mpay jautpay pubbank gcash
              cstore bni;

$icon_70x30-width: 70px;
$icon_70x30-height: 30px;
$icon_70x30-top: (-4 * $icon_50x30-height) + $icon_50x30-top;
$icon_70x30-classes: mandiri paypal visa rhbnow mepf dragonpay cod bayar
                     afterpay connect danamon;

$icon_100x30-width: 100px;
$icon_100x30-height: 30px;
$icon_100x30-top: (-3 * $icon_70x30-height) + $icon_70x30-top;
$icon_100x30-classes: cimbclick permata hongleong maybank;

$icon_90x40-width: 90px;
$icon_90x40-height: 40px;
$icon_90x40-top: (-1 * $icon_100x30-height) + $icon_100x30-top;
$icon_90x40-classes: visa mastercard amex;

$sephora-sprite: (
  icon_30x20: (
    height: $icon_30x20-height,
    width: $icon_30x20-width,
    col: 12,
    top: $icon_30x20-top,
    classes: $icon_30x20-classes
  ),
  icon_50x30: (
    height: $icon_50x30-height,
    width: $icon_50x30-width,
    col: 8,
    top: $icon_50x30-top,
    classes: $icon_50x30-classes
  ),
  icon_70x30: (
    height: $icon_70x30-height,
    width: $icon_70x30-width,
    col: 5,
    top: $icon_70x30-top,
    classes: $icon_70x30-classes
  ),
  icon_100x30: (
    height: $icon_100x30-height,
    width: $icon_100x30-width,
    col: 5,
    top: $icon_100x30-top,
    classes: $icon_100x30-classes
  ),
  icon_90x40: (
    height: $icon_90x40-height,
    width: $icon_90x40-width,
    col: 4,
    top: $icon_90x40-top,
    classes: $icon_90x40-classes
  )
);
// ------------------------------- Sprite icons congfig end ----------------------------

// ------------------------------ SVG icons congfig start ----------------------------
$sephora-international-countries: australia bahrain brazil canada china czech-republic
                                  denmark france germany greece hong-kong indonesia
                                  italy kuwait luxembourg malaysia mexico monaco new-zealand
                                  philippines poland portugal qatar romania russia
                                  saudi-arabia serbia singapore slovakia spain switzerland
                                  thailand united-states turkey united-arab-emirates;
// ------------------------------- Sprite icons congfig end ----------------------------

// ------------------------------ SVG icons congfig start ----------------------------
$sephora-order-status:  awaiting-collection completed customs-on-hold delivery-attempted delivery-failed
                        in-transit invalidated order-placed packing-order return-requested
                        with-driver;
// ------------------------------- Sprite icons congfig end ----------------------------
