$modal-transition:            transform 0.3s, opacity 0.3s;

$modal-content-bg:            $white;
$modal-backdrop-bg:           $black;
$modal-backdrop-opacity:      0.5 !default;

// Padding applied to the modal body
$modal-inner-padding:         15px !default;
$modal-header-padding:        15px !default;
$modal-title-padding:         15px !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;

