$product-card-height: 314px;
$product-card-height-mobile: 243px;

$product-card-width: 257px;
$product-card-width-mobile: 167px;

$product-card-image-height: 237px;
$product-card-image-height-mobile: 167px;

$product-card-image-width: 237px;
$product-card-image-width-mobile: 167px;
