$table-cell-padding:            12px;
// $table-sm-cell-padding:         .3rem !default;

$table-bg:                      $body-bg;
$table-heading-bg:              $grey-light;
// $table-bg-accent:               rgba(0,0,0,.05) !default;
// $table-bg-hover:                rgba(0,0,0,.075) !default;
// $table-bg-active:               $table-bg-hover !default;

$table-border-width:            $border-width;
$table-border-color:            $grey;
