$enable-transitions:        true !default;
$transition-base:           all .2s ease-in-out !default;
$transition-fade:           opacity .15s linear !default;
$transition-collapse:       height .35s ease !default;
