$font-family-sephora-serif: 'Sephora Serif', Palatino, Georgia, Times;
$font-family-sephora-sans: 'Sephora Sans', CenturyGothic, Helvetica, Arial;
$font-family-avalon: 'Avalon', CenturyGothic, Helvetica, Arial;

$font-size-root: 13px;
$font-size-root-mobile: 14px;

$font-size-base: 14px;
$font-size-sm: 13px;
$font-size-lg: 16px;

$line-height-root: 20px;
$line-height-root-mobile: 20px;

$line-height-base: 16px;
