$font-family-sephora-serif: 'Sephora Serif', Arial, sans-serif;
$font-family-avalon: 'Avalon', Roboto, Arial, sans-serif;

$font-size-root: 13px;

$font-size-base: 14px;
$font-size-sm: 13px;
$font-size-lg: 16px;

$line-height-base: 16px;
