$font-family-avalon-book: 'Avalon-Book', Roboto, Arial, sans-serif;
$font-family-avalon-demi: 'Avalon-Demi', Roboto, Arial, sans-serif;
$font-family-avalon-bold: 'Avalon-Bold', Arial, sans-serif;

$font-size-base: 14px;
$font-size-sm: 13px;
$font-size-lg: 16px;

$line-height-base: 1.5 !default;
