// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size) {
  padding: ($padding-y + 1px) $padding-x ($padding-y - 1px);
  font-size: $font-size;
  line-height: $font-size;
}

// Button variants
@mixin button-variant($color, $background, $border, $hover-opacity: $btn-hover-opacity) {
  color: $color;
  background-color: $background;
  border-color: $border;

  @include hover {
    color: $color;
    opacity: $hover-opacity;
  }

  &:focus,
  &.focus {
    outline: 0;
    opacity: $hover-opacity;
  }

  &.disabled,
  &:disabled {
    @include hover {
      background-color: $background;
      border-color: $border;
      opacity: 1;
    }

    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
      opacity: 1;
    }
  }

  &:active,
  &.active {
    opacity: $hover-opacity;
  }
}
