@mixin font-sephora-serif {
  font-family: $font-family-sephora-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
}

@mixin font-sephora-serif-italic {
  font-family: $font-family-sephora-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
}

@mixin font-sephora-sans {
  font-family: $font-family-sephora-sans;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
}

@mixin font-avalon-bold {
  font-weight: 700;
  letter-spacing: 0.5px;
}

@mixin font-avalon-demi {
  font-weight: 600;
}

@mixin font-avalon-book {
  font-weight: 400;
}

@mixin font-family-avalon {
  font-family: $font-family-avalon;
  font-style: normal;
  letter-spacing: 0.3px;
}
